body{
    margin:0;
    font-family:Poppins;
    background:#0b0f2a;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
    position:fixed;
    width:100%;
    background:rgba(0,0,0,0.3);
}

.logo{
    font-size:24px;
    font-weight:700;
}

nav a{
    color:white;
    margin:0 15px;
    text-decoration:none;
}

.hero{
    height:100vh;
    display:flex;
    align-items:center;
    padding:0 80px;
    background:linear-gradient(135deg,#5f2cff,#0b0f2a);
}

.hero h1{
    font-size:60px;
}

button{
    background:#7b3cff;
    border:none;
    padding:15px 30px;
    color:white;
    border-radius:30px;
    cursor:pointer;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:80px;
}

.card{
    background:#141a44;
    padding:40px;
    border-radius:20px;
    width:250px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}
